@import url(../css/bootstrap.css);
.bg {
  background-color: #102039;
}

header .top-nav {
  height: 35px !important;
}

#banner .card {
  height: 410px;
  max-height: 450px;
}
#banner .card .corner {
  width: 104px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 10px;
}
#banner .line {
  height: 2px;
}

#img-sec .img-sec {
  background-image: url("../images/image 6.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#last-section div.col-lg-7 img {
  max-width: 100%;
  height: auto;
}
#last-section div.col-lg-5 .img-sec > img {
  width: 500px;
  max-width: 100%;
  height: 550px;
}

footer.second-last form > input {
  border-radius: 0%;
}
footer.second-last form .btn {
  background-color: #de0e0e;
  color: white;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}